# macOS system junk
.DS_Store

# Python cache
__pycache__/
*.pyc

# Google  and eBay API secrets
credentials.json
.env

# Ignore Python virtual environments
venv/
the_shop_scripts/venv/

#eBay API token for price lookup
token.txt
